/* AboutUs.css */
.about-us {
    padding: 40px;
    background-color: #fff;
    text-align: center;
  }
  
  .about-us h2 {
    color: #9D2235;
    margin-bottom: 20px;
  }
  
  .about-us p {
    margin: 20px 0;
    color: #333;
    line-height: 1.6;
  }
  
  .about-us h3 {
    margin-top: 20px;
    color: #9D2235;
  }
  