/* Footer.css */
footer {
  background-color: #011f5f; /* Dark blue background */
  color: white; /* Gold text color */
  padding: 20px;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-content p {
  margin: 5px 0;
  /* font-size: 14px; */
}

footer address p {
  margin: 10px 0;
  /* font-size: 14px; */
}

footer address .icon-text {
  display: flex;
  align-items: center;
  /* font-size: 14px; */
}

footer address .icon-text svg {
  margin-right: 8px;
  color: #FFD700; /* Gold color for icons */
}

footer .social-links {
  margin-top: 10px;
}

footer .social-links a {
  text-decoration: none;
  color: #FFD700; /* Maroon color for icons */
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease;
}

footer .social-links a:hover {
  color: #ffa202; /* Gold color on hover */
}
