:root {
    --primary-color: #003366; /* Blue from the logo */
    --secondary-color: #9D2235; /* Red from the logo */
    --text-color: #333; /* General text color */
    --background-color: #f0f0f0; /* Light background color */
  }
  
  body {
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding-top: 70px; /* For sticky header */
  }
  
  a {
    color: var(--secondary-color);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h1, h2, h3 {
    color: var(--secondary-color);
  }
  
  button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darken(var(--secondary-color), 10%);
  }
  
  header, footer {
    background-color: var(--primary-color);
    color: white;
  }
  
  section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  