/* General Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 51, 102, 0.4);
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

/* Header styles when scrolled */
header.scrolled {
  background-color: #001f4d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
}

/* Header logo styles */
header .logo img {
  width: 35%;
  border-bottom-right-radius: 20px;
  height: auto;
  cursor: pointer;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
}

header nav ul li {
  margin: 0;
  position: relative;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 7px 4px;
  transition: color 0.3s ease, background-color 0.3s ease;
  white-space: nowrap;
  display: inline-block;
  min-width: 80px;
  text-align: center;
  position: relative;
}

header nav ul li a:hover {
  background-color: #003366;
  border-radius: 5px;
}

header nav ul li a.active {
  color: white;
  border-radius: 10px;
  border-bottom: 2px solid #FFD700;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #003366;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }

  header nav.nav-open {
    display: flex;
  }

  header nav ul {
    flex-direction: column;
    width: 100%;
  }

  header nav ul li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  header nav ul li a {
    color: white;
    width: 100%;
    padding: 10px 0;
    position: relative;
  }

  header nav ul li a.active {
    border-bottom: 2px solid #FFD700;
  }

  .hamburger {
    display: flex;
  }

  .hamburger .bar {
    background-color: white;
  }

  /* Hide info-line on smaller screens */
  .info-line {
    display: none; /* Hide the info-line */
  }
}

/* Default Styles for Info Line */
.info-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #333;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

header.scrolled .info-line {
  display: none; /* Hide info-line on scroll */
}

@media (max-width: 1023px) {
  .info-line {
    top: 60px; /* Position below the header on smaller screens */
  }
}
/* Hide the info-line on smaller screens */
@media (max-width: 768px) {
  .info-line {
    display: none !important; /* Use !important to override any conflicting styles */
  }
}
