/* Header.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #003366; */
  background-color: rgba(0, 51, 102, 0.4);
  color: white;
  font-family: 'Comfortaa', sans-serif;
  position: fixed; /* Make header fixed at the top */
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

header.scrolled {
  background-color: #001f4d;
  /* padding: 5px 20px; */
}

header .logo img {
  width: 35%;
  border-bottom-right-radius: 20px;
  height: auto;
  cursor: pointer;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

header nav ul li a:hover {
  color: #003366;
  background-color: #9D2235;
  border-radius: 5px;
}

header nav ul li a:visited {
  color: white;
}

header nav ul li a.active {
  color: white;
  background-color: #0366c9;
  border-radius: 10px;
  border-bottom: 2px solid #FFD700; /* Highlight the active link */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #003366;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 9;
  }

  header nav.nav-open {
    display: flex;
  }

  header nav ul {
    flex-direction: column;
    width: 100%;
  }

  header nav ul li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  header nav ul li a {
    color: white;
    width: 100%;
    /* padding: 10px 0; */
  }

  .hamburger {
    display: flex;
  }

  .hamburger .bar {
    background-color: white;
  }
  
}
