/* Services.css */
.services {
  padding: 40px;
  background-color: #f8f8f8;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
}

.services h2 {
  color: #9D2235;
  margin-bottom: 40px;
}

.service-categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.service-category {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s;
}

.service-category h3 {
  color: #9D2235;
}

.service-category p {
  color: #333;
}

.service-category:hover {
  transform: translateY(-10px);
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 50%;
  width: 90%;
  text-align: center;
  position: relative;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-content h2 {
  color: #9D2235;
  margin-bottom: 20px;
}

.modal-content p {
  color: #333;
}
